body[data-dir=ltr] {
  text-align: left !important;
  direction: ltr !important;
}
body[data-dir=ltr] .landing-image {
/*  left: auto;
  right: 0;*/
  /*transform: rotateY(180deg);*/
}
body[data-dir=ltr] .navbar ul {
  left: auto;
  right: 0;
}
body[data-dir=ltr] .main.k-rtl, body[data-dir=ltr] .k-rtl {
  direction: ltr !important;
  text-align: left !important;
}
body[data-dir=ltr] .full_backgroung_image .forget_span {
  margin-left: 0;
  margin-right: 40px;
  left: auto;
  right: 0;
}

/*.navbar .nav-item .nav-link{
    color: #2db473
}
.navbar .nav-item .nav-link:hover {
    color: #2db473
}*/

body[data-dir="ltr"] .dropdown-menu {
    left: auto;
    right: 0
}


.custom-dropdwon-width{
    width: 400px
}

body[data-dir="ltr"] .dropdown-menu .dropdown-item {
    text-align: left
}